<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8"/>
    <title>CMSC 142 Sudoku Solver</title>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/proj.css">
</head>
<body>
	<br>
	<center>
	<h1 class="ui red inverted header">
		<i class="puzzle piece icon"></i>
		<div class="content">
		  SUDOKU SOLVER
		  </div>  
	</h1>
	</center>
	<div ng-controller="mainController as main" class="ui vertically divided grid">
		<div class="row">
			<div class="eight wide column">
				<div style="float: left; padding: 10px">
					<label for="upload" class="ui icon button">
						<i class="large black file alternate icon" id="file-indicator"></i>
					</label>
					<input type="file" id="upload" on-read-file="showContent($fileContent)" style="display:none;"/>
				    <p id="textfile" style="display:none;"></p>
				    <p id="isUpdated" style="display:none;"></p>
				</div>
			</div>
			<div class="eight wide column">
				<div style="float: right;">
					 <a href="" ng-click="main.openModal(1)" class="instruc button"><i class="large circular inverted question circle icon"></i></a>
					  <a href="" ng-click="main.openModal(2)"><i class="large circular inverted info circle icon"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div ng-controller="mainController as main">
		<div  ng-if="main.N<=9"  class="ui vertically divided grid">
			<div class="row">
				<div class="eight wide column">
					<form id="form">
						 <table class="ui inverted structured celled table" >
							    <tr ng-repeat="cols in main.uiTable track by $index" ng-init="index=$index">
							      <td ng-repeat="e in cols track by $index" class="center aligned ans{{e}}">
								      	<input type="number" class="center aligned ans{{e}}" ng-if="e==0 || e==999 || e==9999" ng-model="value" ng-change="main.here(value,index,$index)" ng-value="main.currTable[index][$index]">
								      </input>
							      		<div ng-if="e!==0 && e!==999 && e!==9999">{{e}}</div>
							      	</td>
							    </tr>
					  	</table>
				  	</form>
				</div>
				<div class="eight wide column">
					<div ng-show="main.showPuzzles">
						Number of Solutions: {{main.Nsolutions}}<br>
						Solution {{main.currentPage+1}}
						<div class="column">
							<div>
								<table class="ui celled table">
									    <tr ng-repeat="cols in main.solutions[main.currentPage] track by $index">
									      <td ng-repeat="e in cols track by $index" class="center aligned">{{e}}</td>
									    </tr>
							  	</table>
							</div>
						</div>
					</div>
					<div ng-show="main.noSolution">
						NO SOLUTION :(
					</div>
				</div>
			</div>
			<div class="row">
				<div class="eight wide column">
					<div class="ui stackable three column grid container">
					  	<div class="four wide column">
							<button class="ui left labeled icon button" ng-disabled="main.puzzleIndex==0" ng-click="main.prevPuzzle()">
							  <i class="left arrow icon"></i>
							  Previous Puzzle
							</button>
						</div>
						<div class="eight wide column"></div>
					  	<div class="four wide column" >
						  	<button class="ui right labeled icon button" ng-disabled="main.puzzleIndex==(main.puzzleNumber-1)" ng-click="main.nextPuzzle()">
							  <i class="right arrow icon"></i>
							  Next Puzzle
							</button>
						</div>
					</div>
				</div>
				<div class="eight wide column">
					<div ng-show="main.showPuzzles" class="ui pagination menu" style="float: right ! important; padding: 10px">
						<a class="icon item" ng-disabled="main.currentPage==0" ng-click="main.prevPage()">
						  <i class="left chevron icon"></i>
						</a>
						<a class="item" ng-click="main.currentPage=0">Initial Puzzle</a>
						<a class="item" ng-click="main.currentPage=main.solutions.length-1">Last Puzzle</a>
						<a class="icon item" ng-disabled="(main.currentPage)==(main.table.length-1)" ng-click="main.nextPage()">
						  <i class="right chevron icon"></i>
						</a>
					 </div> 
				</div>
			</div>
			<div class="row">
				<div class="eight wide column">
						<h4 class="ui icon header center aligned">
						  <i class="pencil alternate icon"></i>
						  <div class="content">
						    Check Own Solution
						  </div>
						</h4> 
						<div class="ui stackable two column grid container center aligned">
							<div class="four wide column">
								<button class="ui green button big" ng-click="main.checkPlayable(1)">Regular</button>
							</div>
							<div class="four wide column">
								<button class="ui orange button big" ng-click="main.checkPlayable(2)">Sudoku X</button>
							</div>
						</div>
						<div class="ui stackable two column grid container center aligned">
							<div class="four wide column">
								<button class="ui red button big" ng-click="main.checkPlayable(3)" ng-if="(main.N%2)==1" >Sudoku Y</button>
							</div>
							<div class="four wide column">
								<button class="ui blue button big" ng-click="main.checkPlayable(4)" ng-if="(main.N%2)==1" >Sudoku XY</button>
							</div>
						</div>
					</div>	
					<div class="eight wide column">
						<h4 class="ui icon header center aligned">
						  <i class="settings icon"></i>
						  <div class="content">
						    Solve using Solver
						  </div>
						</h4> 
						<div class="ui stackable two column grid container center aligned">
						<div class="four wide column">
							<button class="ui big inverted green button" ng-click="main.solveRegular()">Regular</button>
						</div>
						<div class="four wide column">
							<button class="ui big inverted orange button" ng-click="main.solveX()">Sudoku X</button>
						</div>
						</div>
						<div class="ui stackable two column grid container center aligned">
							<div class="four wide column">
								<button class="ui big inverted red button" ng-if="(main.N%2)==1" ng-click="main.solveY()">Sudoku Y</button>
							</div>
							<div class="four wide column">
								<button class="ui big inverted blue button" ng-if="(main.N%2)==1" ng-click="main.solveXY()">Sudoku XY</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		<div ng-if="main.N>9" >
			<div class="ui container">
				 <form id="form">
					 <table class="ui inverted structured celled table" >
						    <tr ng-repeat="cols in main.uiTable track by $index" ng-init="index=$index">
						      <td ng-repeat="e in cols track by $index" class="center aligned ans{{e}}">
							      	<input type="number" class="center aligned ans{{e}}" ng-if="e==0 || e==999 || e==9999" ng-model="value" ng-change="main.here(value,index,$index)" ng-value="main.currTable[index][$index]">
							      </input>
						      		<div ng-if="e!==0 && e!==999 && e!==9999">{{e}}</div>
						      	</td>
						    </tr>
				  	</table>
			  	</form>
			</div>
			<div class="ui stackable three column grid container">
				<div class="four wide column">
					<button style="float: right;" class="ui left labeled icon button" ng-disabled="main.puzzleIndex==0" ng-click="main.prevPuzzle()">
					  <i class="left arrow icon"></i>
					  Previous Puzzle
					</button>
				</div>
				 <div class="eight wide column">
					<h4 class="ui icon header center aligned">
					  <i class="pencil alternate icon"></i>
					  <div class="content">
					    Check Own Solution
					  </div>
					</h4> 

					<div class="ui stackable two column grid container center aligned">
					<div class="four wide column">
						<button class="ui green button big" ng-click="main.checkPlayable(1)">Regular</button>
					</div>
					<div class="four wide column">
						<button class="ui orange button big" ng-click="main.checkPlayable(2)">Sudoku X</button>
					</div>
					</div>
					<div class="ui stackable two column grid container center aligned">
						<div class="four wide column">
							<button class="ui red button big" ng-if="(main.N%2)==1" ng-click="main.checkPlayable(3)">Sudoku Y</button>
						</div>
						<div class="four wide column">
							<button class="ui blue button big" ng-if="(main.N%2)==1" ng-click="main.checkPlayable(4)">Sudoku XY</button>
						</div>
					</div>
				</div>
			<div class="four wide column">
			  	<button class="ui right labeled icon button" ng-disabled="main.puzzleIndex==(main.puzzleNumber-1)" ng-click="main.nextPuzzle()">
				  <i class="right arrow icon"></i>
				  Next Puzzle
				</button>
			</div>
		</div>
				<div class="ui stackable three column grid container">
			<div class="four wide column">
			</div>
			<div class="eight wide column">
				<h4 class="ui icon header center aligned">
				  <i class="settings icon"></i>
				  <div class="content">
				    Solve using Solver
				  </div>
				</h4> 
				<div class="ui stackable two column grid container center aligned">
				<div class="four wide column">
					<button class="ui big inverted green button" ng-click="main.solveRegular()">Regular</button>
				</div>
				<div class="four wide column">
					<button class="ui big inverted orange button" ng-click="main.solveX()">Sudoku X</button>
				</div>
				</div>
				<div class="ui stackable two column grid container center aligned">
					<div class="four wide column">
						<button class="ui big inverted red button" ng-if="(main.N%2)==1" ng-click="main.solveY()">Sudoku Y</button>
					</div>
					<div class="four wide column">
						<button class="ui big inverted blue button" ng-if="(main.N%2)==1" ng-click="main.solveXY()">Sudoku XY</button>
					</div>
				</div>
			</div>
			<div class="four wide column">
			</div>
		</div>
		<div ng-show="main.showPuzzles">
			Number of Solutions: {{main.Nsolutions}}<br>
			Solution {{main.currentPage+1}}
			<div class="column">
				<div>
					<table class="ui celled table">
						    <tr ng-repeat="cols in main.solutions[main.currentPage] track by $index">
						      <td ng-repeat="e in cols track by $index" class="center aligned">{{e}}</td>
						    </tr>
				  	</table>
				</div>
			</div>
		</div>
		<div ng-show="main.noSolution">
			NO SOLUTION :(
		</div>
		<div ng-show="main.showPuzzles" class="ui pagination menu" style="float: right ! important; padding: 10px">
			<a class="icon item" ng-disabled="main.currentPage==0" ng-click="main.prevPage()">
			  <i class="left chevron icon"></i>
			</a>
			<a class="item" ng-click="main.currentPage=0">Initial Puzzle</a>
			<a class="item" ng-click="main.currentPage=main.solutions.length-1">Last Puzzle</a>
			<a class="icon item" ng-disabled="(main.currentPage)==(main.table.length-1)" ng-click="main.nextPage()">
			  <i class="right chevron icon"></i>
			</a>
		 </div>
	</div>

	<div class="ui modal instruc">
	  <i class="close icon"></i>
	  <div class="header">
	    SUDOKU INSTRUCTION
	  </div>
	  <div class="ui brown message">
	  	<ul class="ui list">
		  <li>Given an N x N Sudoku board, fill it out using numbers from 1 to N such that each number would appear on its row, column, and subgrid exactly once.</li>
		  <li>To step up the game, Sudoku X, Y, and XY are modifications that add to the constraints of the puzzle. 
			<ul>
		      <li>Sudoku X invalidates the multiple presence of a number in the a diagonal of the puzzle.</li>
		      <li>Sudoku Y does the same but in the upper half diagonal and then down the bottom center.</li>
		      <li>Sudoku XY have both additional constraints.</li>
		    </ul>
			</li>
		  <li>Apparently, puzzles with even size are immediately considered having no Y and XY solutions.</li>
		</ul>
	  </div>

	  <div class="header">
		APPLICATION INSTRUCTIONS
	  </div>
	  <div class="ui orange message">
	  	<ul class="ui list">
		  <li>Choose a text file containing the configuration of the puzzles.</li>
		  <li>After loading it, the puzzles can be navigated using the buttons NEXT puzzle and PREVIOUS puzzle.
		  </li>
		  <center>
		  	<div class="ui image">
		      <img src="assets/puzzleButton.PNG">
		    </div></center>
		  <li>Solve the currently displayed puzzle by inputing numbers in the cells.
		  </li>
		  	<center>
		  	<div class="ui small image">
		      <img src="assets/input.PNG">
		    </div>
		    </center>
		  <li>To check your progress, click CHECK buttons to see whether you have violated a rule or not. Click the same buttons to check your final solution. 
		  </li>
		  <center>
		  <div class="ui medium image">
		      <img src="assets/checkButtons.PNG">
		    </div>
		    </center>
	      <li>SOLVE buttons will show you all possible solutions of the puzzle. Browse all of the solutions by clicking right arrow for NEXT and left arrow for PREVIOUS. A shortcut for INITIAL and LAST PUZZLE was made.<br>
	      	<center>
	      	<div class="ui medium image">
		      <img src="assets/solveButtons.PNG">
		    </div>
		    <div class="ui image">
		      <img src="assets/solutionsButton.PNG">
		    </div>
		    </center>
	      </li>
		</ul>
	  </div>
	  <div class="header"></div>
	</div>

	<div class="ui basic modal credits">
		<div class="ui icon header">
		    <i class="paw icon"></i>
		    Created by: Parallelipipet
		  </div>
		  <center>
		  <div class="content">
		  	As final project in CMSC 142 2nd Semester AY 17-18
		  </div><br><br>
		  <div class="content" style="font-size: 20px">
			  Rendel Cuanico<br>
			  Melbex De Leon<br>
			  Bernieson Sahagun<br>
			  Aizaya Seco<br>
		  </div>
		  </center>
	</div>

	</div> 
		
    <script type="text/javascript" src="js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="semantic/dist/semantic.min.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/main.controller.js"></script>
</body>
</html>